block variables

doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    <meta content="Конференция Fintech Design Conf 2020 пройдет 12 ноября в онлайне. Дизайн-команды современных банков покажут, что интересного происходит в отрасли и расскажут, куда движется индустрия." name="description">
    <meta content="дизайн, конференция, финтех, design, conference, fintech, UX, product design, продуктовый дизайн" name="keywords">
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    <meta property="og:title" content=" Fintech Design Conf 2020">
    <meta property="og:description" content="Конференция Fintech Design Conf 2020 пройдет 12 ноября в онлайне. Дизайн-команды современных банков покажут, что интересного происходит в отрасли и расскажут, куда движется индустрия.">
    <meta property="og:image" content="assets/images/OG.png">
    <meta name="cmsmagazine" content="5030b50dd17858824f3ab635603e59bc">

    link(rel="shortcut icon" href="assets/images/apple-touch-icon.png" type="image/x-icon")
    link(rel="apple-touch-icon" href="assets/images/apple-touch-icon.png")

    link(rel="stylesheet" type="text/css" href="assets/styles/app.min.css")
    script(src="assets/scripts/jquery.js")
    script(src="assets/scripts/main.js")
    
  body
    block content

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175475949-2"></script>
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-175475949-2');